<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<body>
<div layout:fragment="body">
    <a href="/insurance-type/create">Add Insurance Type</a>
    <h1>Providers:</h1>
    <table id="insuranceTypeTable" border="0" class="table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="type : ${insuranceTypes}">
                <td th:text="${type.name}"></td>
                <td>
                    <a th:href="@{/insurance-type/edit/{id}(id=${type.id})}">Edit</a>
                    <a th:href="@{/insurance-type/delete/{id}(id=${type.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        $(document).ready( function () {
             $('#insuranceTypeTable').DataTable();
        });
    </script>
</div>
</body>

</html>