<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<body>
<div layout:fragment="body">
    <a href="/contact/import-contact">Import Contact</a>
    <h1>Contacts:</h1>
    <table id="contactTable" border="0" class="table-striped">
        <thead>
            <tr>
                <th>NIP</th>
                <th>Name</th>
                <th>Position</th>
                <th>Home</th>
                <th>Mobile</th>
                <th>Office</th>
                <th>stsrc</th>
                <th>dateChange</th>
                <th>employeeId</th>
                <th>branchID</th>
                <th>divisionID</th>
                <th>regionID</th>
                <th>CEK</th>
                <th>birthDate</th>
                <th>officeExt</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.NIP}"></td>
                <td th:text="${employee.employeeName}"></td>
                <td th:text="${employee.jobTitleID}"></td>
                <td th:text="${employee.homeTelp}"></td>
                <td th:text="${employee.handphoneTelp}"></td>
                <td th:text="${employee.officeTelp}"></td>
                <td th:text="${employee.stsrc}"></td>
                <td th:text="${employee.dateChange}"></td>
                <td th:text="${employee.employeeId}"></td>
                <td th:text="${employee.branchID}"></td>
                <td th:text="${employee.divisionID}"></td>
                <td th:text="${employee.regionID}"></td>
                <td th:text="${employee.CEK}"></td>
                <td th:text="${employee.birthDate}"></td>
                <td th:text="${employee.officeExt}"></td>
            </tr>
        </tbody>
    </table>
    <script>
        $(document).ready( function () {
             $('#contactTable').DataTable( {
                "scrollX": true
            } );
        });
    </script>
</div>
</body>

</html>