<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BCA HR APPS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <a href="/contact/import-contact">Import Contact</a>
    <h1>Contacts:</h1>
    <table id="contactTable" border="1">
        <thead>
            <tr>
                <th>NIP</th>
                <th>Name</th>
                <th>Position</th>
                <th>Home</th>
                <th>Mobile</th>
                <th>Office</th>
                <th>stsrc</th>
                <th>dateChange</th>
                <th>employeeId</th>
                <th>branchID</th>
                <th>divisionID</th>
                <th>regionID</th>
                <th>CEK</th>
                <th>birthDate</th>
                <th>officeExt</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.NIP}"></td>
                <td th:text="${employee.employeeName}"></td>
                <td th:text="${employee.jobTitleID}"></td>
                <td th:text="${employee.homeTelp}"></td>
                <td th:text="${employee.handphoneTelp}"></td>
                <td th:text="${employee.officeTelp}"></td>
                <td th:text="${employee.stsrc}"></td>
                <td th:text="${employee.dateChange}"></td>
                <td th:text="${employee.employeeId}"></td>
                <td th:text="${employee.branchID}"></td>
                <td th:text="${employee.divisionID}"></td>
                <td th:text="${employee.regionID}"></td>
                <td th:text="${employee.CEK}"></td>
                <td th:text="${employee.birthDate}"></td>
                <td th:text="${employee.officeExt}"></td>
            </tr>
        </tbody>
    </table>
</body>
<script>
    $(document).ready( function () {
         $('#contactTable').DataTable();
    });
</script>
</html>