<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BCA HR APPS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <a href="/hospital/import-hospital">Import Hospital</a>
    <h1>Hospitals:</h1>
    <table id="hospitalTable" border="0" class="table-striped">
        <thead>
            <tr>
                <th>City</th>
                <th>Provider</th>
                <th>Bpjs</th>
                <th>Address</th>
                <th>Telephone</th>
                <th>Fax</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="hospital : ${hospitals}">
                <td th:text="${hospital.city}"></td>
                <td th:text="${hospital.provider}"></td>
                <td th:text="${hospital.bpjs}"></td>
                <td th:text="${hospital.address}"></td>
                <td th:text="${hospital.telephone}"></td>
                <td th:text="${hospital.fax}"></td>
            </tr>
        </tbody>
    </table>
</body>
<script>
    $(document).ready( function () {
         $('#hospitalTable').DataTable( {
            "scrollX": true
        } );
    });
</script>
</html>