<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<body>
<div layout:fragment="body">
    <form action="#" th:action="@{/contact/update}" th:object="${contact}" method="post">
        <input type="hidden" th:field="*{id}">
        <div>
            NIP: <input type="text" th:field="*{nip}" />
        </div>
        <div>
            Name: <input type="text" th:field="*{name}" />
        </div>
        <div>
            Position: <input type="text" th:field="*{jobtitleId}" />
        </div>
        <div>
            Stsrc: <input type="text" th:field="*{stsrc}" />
        </div>
        <div>
            Employee ID: <input type="text" th:field="*{employeeId}" />
        </div>
        <div>
            Branch ID: <input type="text" th:field="*{branchId}" />
        </div>
        <div>
            Division ID: <input type="text" th:field="*{divisionId}" />
        </div>
        <div>
            Region ID: <input type="text" th:field="*{regionId}" />
        </div>
        <div>
            CEK: <input type="text" th:field="*{cek}" />
        </div>
        <div>
            Birthdate: <input type="text" id="birthDate" name="birthDate" th:value="${contact.birthdate}"/>
        </div>
        <div id="addMobile" class="btn btn-primary">Add Mobile Number</div>
        <div id="mobileField">
            <div th:each="n : ${mobile}">Mobile: <input type="text" name="mobile[]" th:value="${n.number}"/> <button class="btn btn-danger x-btn">x</button></div>
        </div>
        <div id="addHome" class="btn btn-primary">Add Home Number</div>
        <div id="homeField">
            <div th:each="n : ${home}">Home: <input type="text" name="home[]" th:value="${n.number}"/> <button class="btn btn-danger x-btn">x</button></div>
        </div>
        <div id="addOffice" class="btn btn-primary">Add Office Number</div>
        <div id="officeField">

            <div th:each="n : ${office}">
                Office: <input type="text" name="office[]" th:value="${n.number}"/> <button class="btn btn-danger x-btn">x</button><br>
                Office ext: <input type="text" name="officeExt[]" th:value="${n.extension}"/>
            </div>
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
    <script>
        $( function() {
            $( "#birthDate" ).datepicker({ dateFormat: 'yy-mm-dd' });
            $("#addMobile").click(function(){
                $("#mobileField").append("<div>Mobile: <input type='text' name='mobile[]'/> <button class='btn btn-danger x-btn'>x</button></div>");
            });
            $("#addHome").click(function(){
                $("#homeField").append("<div>Home: <input type='text' name='home[]'/> <button class='btn btn-danger x-btn'>x</button></div>");
            });
            $("#addOffice").click(function(){
                $("#officeField").append("<div>Office: <input type='text' name='office[]'/> <button class='btn btn-danger x-btn'>x</button><br>Office ext: <input type='text' name='officeExt[]'/></div>");
            });
            $("#mobileField").on("click", ".x-btn", function() {
                $(this).parent().remove();
            });
            $("#homeField").on("click", ".x-btn", function() {
                $(this).parent().remove();
            });
            $("#officeField").on("click", ".x-btn", function() {
                $(this).parent().remove();
            });
        } );
    </script>
</div>
</body>
</html>