<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">
<body>
<div layout:fragment="body">
    <a href="/contact/import-contact">Import Contact</a>
    <a href="/contact/create">Add Contact</a>
    <h1>Contacts:</h1>
    <table id="contactTable" border="0" class="table-striped">
        <thead>
            <tr>
                <th>NIP</th>
                <th>Name</th>
                <th>Position</th>
                <th>Phone</th>
                <th>Stsrc</th>
                <th>Date Change</th>
                <th>Employee ID</th>
                <th>Branch ID</th>
                <th>Division ID</th>
                <th>Region ID</th>
                <th>CEK</th>
                <th>Birthdate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.nip}"></td>
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.jobtitleId}"></td>
                <td>
                    <div th:each="contact : ${employee.phoneNumber}">
                        <b><span th:text="${contact.type}"></span></b>:
                        <span th:text="${contact.number}"></span>
                        </b><span th:text="${contact.extension != null} ? 'ext:'+${contact.extension}"></span>
                    </div>
                </td>
                <td th:text="${employee.stsrc}"></td>
                <td th:text="${employee.dateChange}"></td>
                <td th:text="${employee.employeeId}"></td>
                <td th:text="${employee.branchId}"></td>
                <td th:text="${employee.divisionId}"></td>
                <td th:text="${employee.regionId}"></td>
                <td th:text="${employee.cek}"></td>
                <td th:text="${employee.birthdate}"></td>
                <td>
                    <a th:href="@{/contact/edit/{id}(id=${employee.id})}">Edit</a>
                    <a th:href="@{/contact/delete/{id}(id=${employee.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        $(document).ready( function () {
             $('#contactTable').DataTable( {
                "scrollX": true
            } );
        });
    </script>
</div>
</body>

</html>